*.pyc
visavis.sh
*.DS_Store
*log.txt
barcode_no_cut_forward.fastq
barcode_no_cut_reverse.fastq
filtered_forward.fastq
filtered_reverse.fastq
nobarcodes_forward.fastq
nobarcodes_reverse.fastq
Flip2BeRADcpp.xcodeproj
*xcuserstate
Flip2BeRADcpp/Flip2BeRADcpp/Flip2BeRAD
Flip2BeRADcpp/Flip2BeRADcpp.xcodeproj/project.xcworkspace/xcuserdata/tylerhether.xcuserdatad/UserInterfaceState.xcuserstate
Flip2BeRADcpp/Flip2BeRADcpp.xcodeproj/xcuserdata/tylerhether.xcuserdatad/xcschemes/Flip2BeRADcpp.xcscheme
